:root {
    --highlight: #efb22d;
    --side-color: #1f91d3;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
}

/* Sidebar */

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--side-color);
    color: white;
    padding: 40px;
}

.dashboard {
    display: flex;
    align-items: center;
}

#logo {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
}

.home {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    font-weight: 700;
}

.home div {
    display: flex;
    align-items: center;
}

.home li {
    margin: 15px 0;
    font-size: 20px;
    padding: 0 30px;
}

.settings {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.settings div {
    display: flex;
    align-items: center;
}

.settings li {
    margin: 15px 0;
    font-size: 20px;
    padding: 0 30px;
    
}

.cards {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Header */

.navbar {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.442);
}

#name {
    font-size: 20px;
    font-weight: 700;
}

#searchbar {
    height: 25px;
    width: 500px;
    border-radius: 10px;
    background-color: #83b3cf39;
    border: none;
    flex: 1;
}

.profilePic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid black;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    margin: 0 20px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;
}

/* profile */

.button-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hi {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: 30px 0;
}

.hi p:last-child {
    font-size: 20px;
    font-weight: 700;
}

button {
   height: 40px;
   width: 100px;
   background-color: var(--side-color);
   border-radius: 20px;
   border: none;
   color: white;
   font-weight: 600;
   font-size: .9rem;
   margin: 0 10px;
}

/* Project Cards */

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background-color: #83b3cf39;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    
    
}

.cards h1 {
    font-size: 18px;
}

.card {
    background-color: white;
    border-radius: 10px;

}

.icons {
    display: flex;
    
}

.super {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px;
    border-left: 5px #efb22d solid;
    border-radius: 10px;
    padding: 10px;
}

.announcements {
    grid-column-start: 3;
}

.trending {
    grid-column-start: 3;
}

.announcements {
    grid-row-start: 2;
}

.trending {
    grid-row-start: 3;
}

#an {
    grid-column-start: 3;
}

